<%= render 'layouts/header' %>
<br>
<h2>Expenses</h2>
<table id='expenses'>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Account</th>
    <th></th>
  </tr>
  <%= form_for(Expense.new) do |f| %>
    <tr>
      <td>
        <%= label_tag 'expense[date_string]', "Date", :hidden => true %>
        <%= text_field_tag 'expense[date_string]', short_date(Expense.default_date), :autofocus => true, :size => 5 %>
      </td>
      <td>
        <%= f.label :description, :hidden => true %>
        <%= f.text_field :description%>
      </td>
      <td>
        <%= f.label :amount, :hidden => true %>
        <%= f.text_field :amount, :size => 15 %>
      </td>
      <td>
        <%= f.select :category, options_for_select(BudgetItem.all.map {|n| [n.category, n.category]}) %>
      </td>
      <td>
        <%= f.select :account, options_for_select(Account.all.map {|n| [n.name, n.name] }) %>
      </td>
      <td>
        <%= f.submit "Save" %>
      </td>
    </tr>
  <% end %>

  <% Expense.this_month.each do |expense| %>
    <tr>
      <td><%= short_date(expense.date) %></td>
      <td><%= expense.description %></td>
      <td><%= expense.amount.format %></td>
      <td><%= expense.category %></td>
      <td><%= expense.account %></td>
      <td><%= link_to "[X]", expense_path(expense), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<%= render "layouts/category_stats" %>