<h1><%= current_month %></h1>

<div id='credit-card-balance'>
  <%= @balance.format %>
</div>
<br>

<table id='line-items'>
  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
  </tr>
  <% @line_items.each do |line_item| %>
    <tr>
      <td><%= line_item.description %></td>
      <td><%= line_item.amount.format %></td>
      <td><%= line_item.category %></td>
    </tr>
  <% end %>
</table>
<br>
<%= form_for(LineItem.new) do |f| %>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.select :category, options_for_select(LineItem::CATEGORIES.map {|n| [n,n]}) %>
  <%= f.submit "Save" %>
<% end %>